doctype html
html
  head
    title Service Desk App
    
  body
    block content
    block scripts
        script(src='/jquery.js')
    block foot
      #footer
        p some footer content