doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Service Desk App
    link(rel='stylesheets' href='./css/bootstrap.min.css')
    
  body
    block content
    block scripts
        script(src='./js/jquery.js')
        script(src='./js/bootstrap.min.js')
    block foot
      #footer
        p some footer content